<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bgimageContact"></div>
    <ion-list>
      <ion-list-header text-center margin-top>Tell me about your goals so I can get started</ion-list-header>
      <ion-item margin-top>
        Email: bgerron@gerronconsulting.com
      </ion-item>
      <ion-item>
        Phone: (402) 657-1751
      </ion-item>
      <ion-item>
        Address: 16110 Drexel Circle, Omaha NE 68135
      </ion-item>
    </ion-list>

  </ion-content>
    <ion-footer>
      <div text-center>

        Copyright © 2018 Gerron Assisted Living Consulting, LLC - All Rights Reserved.
      </div>

    </ion-footer>
