<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bgimageExperience"></div>


    <ion-list>
      <ion-list-header>History</ion-list-header>
      <ion-item>
        Registered Nurse
      </ion-item>
      <ion-item>
        Health Care Facility Management
      </ion-item>
      <ion-item>
        Regulatory Oversight
      </ion-item>
      <ion-item>
        Initial applications, Renewals, Survey Preparation
      </ion-item>
      <ion-item>
        Training of Health Care Staff
      </ion-item>
      <ion-item>
        Quality Improvement
      </ion-item>
      <ion-item>
        Quality Assurance Practices
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header>Clients</ion-list-header>
      <ion-item>Dial Retirement Communites</ion-item>
    </ion-list>


  <footer>
      <div text-center>
  
        Copyright © 2018 Gerron Assisted Living Consulting, LLC - All Rights Reserved.
      </div>
  
    </footer>
</ion-content>