<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bgimageServices"></div>


  <ion-list margin-top>

    <ion-list-header>Consultation</ion-list-header>

    <ion-item>
      Policy development and/or revision for all operational departments
    </ion-item>
    <ion-item>
      State preparation
    </ion-item>
    <ion-item>
      Complex and/or acute health care needs in which level of care is in question
    </ion-item>
    <ion-item>
      New Construction/Building Opening application process
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Training</ion-list-header>

    <ion-item>
      Supervisory and Management
    </ion-item>
    <ion-item>
      Assessment Practices
    </ion-item>
    <ion-item>
      Investigation Process
    </ion-item>
    <ion-item>
      Medication Administration and Provision
    </ion-item>
  </ion-list>
  
  <ion-list>

  <ion-list-header magrin>Review</ion-list-header>

  <ion-item>
    State Survey Plan of Correction
  </ion-item>
  <ion-item>
    Quality Assurance/Improvement Evaluations
  </ion-item>
  <ion-item>
    Investigation Documents and Process
  </ion-item>
  <ion-item>
    Medication Administration Policies
  </ion-item>

  </ion-list>
 
  <footer>
      <div text-center>
  
        Copyright © 2018 Gerron Assisted Living Consulting, LLC - All Rights Reserved.
      </div>
  
    </footer>
</ion-content>